.App {
  text-align: center;
}

#big_table{
  background-color: #282c34;
  min-height: 100vh;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  
}

#log-info{
  margin-left: calc(102px + 2vmin);
  font-size: calc(30px + 2vmin);
}

#table td{
  padding: 5px;
  padding-right: 20px;
}

#my-table{
  font-size: calc(30px + 2vmin);
}
 